* {
   margin: 0px;
   padding: 0px;
   font-family: roboto;
}

body {
   background-color: rgb(241, 242, 247);
}

body {
   overflow-x: hidden;
}

.barra {
   height: 66px;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.0588235) 2px 3px 4px 0px;
   position: fixed;
   z-index: 10;
   background-color: rgb(255, 255, 255);
}

.barra-titulo {
   height: 66px;
   width: 260px;
   float: left;
   background-color: rgb(0, 153, 185);
}

.menu-left {
   width: 260px;
   float: left;
   top: 66px;
   position: fixed;
   height: 100%;
   background-color: rgb(36, 47, 53);
}

.menu-left > ul > li > a {
   color: rgb(147, 159, 167);
   text-decoration: none;
   cursor: pointer;
   display: block;
   padding: 20px;
}

.menu-left > ul > li > a:hover {
   background-color: rgb(21, 29, 34);
}

.menu-left > ul > li > .activo {
   background-color: rgb(21, 29, 34);
}

.menu-left > ul > li > a > label {
   color: rgb(147, 159, 167);
   cursor: pointer;
}

.menu-left > ul > li > a > i {
   color: rgb(147, 159, 167);
   margin-right: 13px;
}

.menu-left ul li {
   height: 50px;
   display: block;
   list-style: none;
   cursor: pointer;
}

.btn-menu-left {
   border-radius: 50%;
   border: 5px solid rgba(255, 255, 255, 0.498039);
   cursor: pointer;
   height: 36px;
   width: 36px;
   position: relative;
   margin-top: -35px;
   margin-left: 237px;
   background-color: rgb(243, 243, 243);
}

.btn-menu-left > i {
   color: rgb(36, 47, 53);
   text-align: center;
   display: block;
   float: left;
   position: relative;
   top: 8px;
   left: -7px;
}

.cont-barra {
   margin-left: 260px;
   padding-top: 20px;
}

.usuario {
   text-align: center;
   color: rgb(180, 177, 177);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   display: block;
}

.cont-principal {
   top: 66px;
   position: relative;
   overflow: hidden;
   background-color: rgb(241, 242, 247);
}

.cont-primario {
   padding: 20px 40px;
   margin-left: 0px;
}

.cabecera-titulo {
   border-radius: 4px;
   border-bottom-width: 3px;
   border-bottom-style: solid;
   border-bottom-color: rgb(233, 234, 238);
   padding: 10px 20px;
   background-color: rgb(255, 255, 255);
}

.titulo1 {
   color: rgb(0, 153, 185);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
}

.titulo2 {
   color: rgb(0, 153, 185);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   margin-left: 20px;
}

.cont-surtidores {
   margin-top: 20px;
}

.item-surtidor {
   border-radius: 4px;
   width: 214px;
   padding-top: 5px;
   float: left;
   margin: 0px 0px 46px 46px;
   padding-bottom: 35px;
   border-bottom-width: 3px;
   border-bottom-style: solid;
   border-bottom-color: rgb(233, 234, 238);
   background-color: rgb(255, 255, 255);
}

.limp {
   clear: both;
   line-height: 17;
}

.icon-surti {
   border-radius: 50%;
   height: 40px;
   width: 40px;
   border: 2px solid rgb(232, 231, 231);
   float: left;
   position: relative;
   left: -23px;
   top: 10px;
   background-color: rgb(255, 255, 255);
}

.icon-surti > i {
   font-size: 20px;
   color: rgb(0, 153, 185);
   text-align: center;
   margin-top: 8px;
   display: block;
}

.titulo-surti {
   color: rgb(170, 170, 170);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   padding-bottom: 5px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: rgb(233, 233, 233);
   display: block;
}

.cuerpo-surti {
   margin-top: 20px;
}

.titulo-cara {
   float: left;
   padding: 23px 25px;
   color: rgb(196, 196, 196);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 40px;
   line-height: normal;
   font-family: Roboto;
   border-radius: 4px;
   cursor: pointer;
   margin-left: 20px;
   background: rgb(247, 247, 247);
}

.titulo-cara:hover {
   background: rgb(232, 231, 231);
}

.pushmenu {}

.pushmenu-left {
   left: -260px;
}

.pushmenu-left.pushmenu-open {
   left: 0px;
}

.pushmenu-left.pushmenu-open {
   left: 0px;
}

.pushmenu-push {
   position: relative;
   left: 0px;
}

.pushmenu-push-toright {
   left: 240px;
}

.pushmenu,
.pushmenu-push {
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
}

.msj-titulo-venta {
   color: rgb(0, 153, 185);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 40px;
   line-height: normal;
   font-family: Roboto;
   text-align: center;
   margin-top: 20px;
}

.msj-titulo-venta2 {
   color: rgb(0, 153, 185);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 40px;
   line-height: normal;
   font-family: Roboto;
   margin-top: 20px;
}

.titulo-azul {
   color: rgb(0, 153, 185);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 40px;
   line-height: normal;
   font-family: Roboto;
}

.contenedor-surtidores {}

.item-especial-surtidor {
   border-radius: 4px;
   margin-top: 20px;
   margin-bottom: 10px;
   background-color: rgb(255, 255, 255);
}

.etiqueta-surti {
   float: left;
   display: block;
   padding: 4px 20px;
   color: rgb(255, 255, 255);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 16px;
   line-height: normal;
   font-family: Roboto;
   border-top-left-radius: 4px;
   background-color: rgb(0, 153, 185);
}

.cont-etiqueta-cara {
   display: block;
   margin-left: 20px;
   float: left;
   margin-top: 30px;
}

.etiq-cara {
   display: block;
   color: rgb(174, 170, 170);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 80px;
   line-height: normal;
   font-family: Roboto;
   float: left;
}

.cont-mangueras {
   float: left;
   display: block;
   margin-left: 30px;
   margin-top: 20px;
}

.item-especial-manguera {
   bottom: 533px;
   padding: 10px;
   border-radius: 4px;
   border-bottom-width: 3px;
   border-bottom-style: solid;
   border-bottom-color: rgb(247, 247, 247);
   margin-bottom: 20px;
   float: left;
   margin-left: 40px;
   background: rgb(255, 255, 255);
}

.item-especial-manguera h4 {
   color: rgb(112, 112, 112);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
}

.item-especial-manguera h4 > i {
   margin-right: 10px;
}

.etiq-tipo-combustible {
   color: rgb(159, 159, 159);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   display: block;
   margin-top: 10px;
}

.etq-contador {
   color: rgb(159, 159, 159);
   font-weight: 500;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 24px;
   line-height: normal;
   font-family: Roboto;
}

.btn {
   border: 0px none;
   padding: 7px 15px;
   color: rgb(255, 255, 255);
   height: 52px;
   cursor: pointer;
   width: 52px;
   position: fixed;
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   z-index: 50;
   right: 40px;
   bottom: 30px;
   outline: 0px;
   box-shadow: rgba(0, 0, 0, 0.227451) 3px 5px 4px 0px;
   border-radius: 50%;
   background: rgb(0, 153, 185);
}

.btn:hover {
   background-color: rgb(0, 96, 127);
}

.btn-imprimir > i {
   font-size: 23px;
}

.fodo-banco {
   border-radius: 4px;
   padding: 20px;
   background: rgb(255, 255, 255);
}

.form-factura {
   margin: 10px 20px;
}

.label-input {
   color: rgb(152, 152, 152);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 17px;
   line-height: normal;
   font-family: Roboto;
   display: block;
   margin-bottom: 5px;
}

.mi-input {
   display: block;
   color: rgb(152, 152, 152);
   font-weight: 400;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   padding: 10px 0px 10px 10px;
   box-sizing: border-box;
   outline: 0px;
   border-radius: 4px;
   border: 1px solid rgb(152, 152, 152);
   margin-bottom: 20px;
   width: 100%;
}

.mi-select {
   display: block;
   color: rgb(152, 152, 152);
   font-weight: 400;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   padding: 10px 0px 10px 10px;
   box-sizing: border-box;
   outline: 0px;
   border-radius: 4px;
   border: 1px solid rgb(152, 152, 152);
   margin-bottom: 20px;
   float: left;
   width: 90%;
}

.mi-input:focus {
   border: 1px solid rgb(0, 153, 185);
}

.btn-add-pago-op {
   border: none;
   cursor: pointer;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   color: rgb(255, 255, 255);
   outline: none;
   float: right;
   background: rgb(0, 153, 185);
}

.btn-add-pago-op:hover {
   background: rgb(0, 96, 127);
}

.btn-cancel {
   border: none;
   border-radius: 4px;
   cursor: pointer;
   outline: none;
   width: 200px;
   padding: 10px 0px;
   color: rgb(255, 255, 255);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   background: rgb(248, 58, 58);
}

.btn-cancel:hover {
   background: rgb(255, 68, 68);
}

.btn-cancel:focus {
   background: rgb(255, 68, 68);
}

.btn-ok {
   border: none;
   border-radius: 4px;
   cursor: pointer;
   outline: none;
   width: 200px;
   padding: 10px 0px;
   color: rgb(255, 255, 255);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   background: rgb(0, 153, 185);
}

.btn-ok-facturar {
   border: none;
   border-radius: 4px;
   cursor: pointer;
   outline: none;
   width: 130px;
   padding: 5px 0px;
   color: rgb(255, 255, 255);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 17px;
   line-height: normal;
   font-family: 'Roboto';
   background: rgb(0, 153, 185);
   margin: 20px 20px;
   float: right;
}

.btn-ok-facturar:hover {
   background: #00607f;
}

.btn-ok:hover {
   background: rgb(0, 153, 185);
}

.btn-ok:focus {
   background: rgb(0, 153, 185);
}

.label-resatado {
   margin-top: 20px;
   font-weight: 400;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   color: rgb(152, 152, 152);
}

.label-info {
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   color: rgb(152, 152, 152);
}

.txt-normal {
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 17px;
   line-height: normal;
   font-family: Roboto;
   color: rgb(152, 152, 152);
   text-align: justify;
   margin-top: 10px;
}

.btn-abrir {}

.cont-info {}

.cont-labels-info {
   margin-top: 15px;
}

.label-resatado-azul {
   margin-top: 20px;
   font-weight: 400;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 20px;
   line-height: normal;
   font-family: Roboto;
   color: rgb(0, 153, 185);
}

.margen-left {
   padding-left: 40px !important;
}

.cont-btn-config {
   margin-top: 20px;
}

.item-producto {
   background: #ffffff;
   box-shadow: 0px 1px 13px 0.00px rgba(0, 0, 0, 0.1);
   width: 200px;
   border-radius: 4px;
   padding: 10px 17px;
   margin: 10px;
   float: left;
}

.item-producto + .selected {
   box-shadow: 0px 1px 13px 0.00px rgba(0, 185, 4, 0.3);
}

.seccion-canastilla {
   margin-top: 20px;
}

.titulo-product {
   color: #0099b9;
   font: 500 20px Roboto;
   display: block;
   margin-bottom: 10px;
}

.label-product {
   color: #494949;
   font: 300 16px Roboto;
   display: block;
}

.precio-product {
   color: #494949;
   font: 400 16px Roboto;
   margin-bottom: 10px;
   display: block;
}

.cont-config-venta {
   margin-top: 10px;
}

.cantidad-producto {}

.cont-cantidad-contril {
   float: right;
}

.input-cantidad-producto {
   background-color: #f1f2f7;
   float: left;
   border: none;
   padding: 7px 10px;
   color: #494949;
   font: 500 17px Roboto;
   box-sizing: border-box;
   width: 130px;
   outline: none;
}

.input-cantidad-producto:focus {
   background: rgba(0, 0, 0, 0.13);
}

.control-cant {
   display: inline-block;
   text-decoration: none;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   text-align: center;
   color: #494949;
   font: 400 22px Roboto;
   color: #fff;
   background: #0099b9;
   margin-bottom: 5px;
}

.btn-vender-canastilla {
   text-align: center;
   display: block;
   outline: none;
   background: #00607f;
   color: #fff;
   border-radius: 20px;
   cursor: pointer;
   width: 50%;
   padding: 7px 2px;
   text-align: center;
   font: 500 15px Roboto;
   border: none;
   box-sizing: border-box;
   margin-top: 10px;
}

.btn-vender-canastilla:hover {
   background-color: #2489b0;
}

.cont-control-ventas {
   float: right;
}

.btn-carrito {
   display: block;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   float: right;
   background: #0099b9;
   text-decoration: none;
   border: 3px solid rgba(0, 152, 185, 0.3);
}

.btn-carrito>i {
   text-align: center;
   display: block;
   color: #fff;
   font-size: 15px;
   margin-top: 7px;
}

.input-buscar {
   border: none;
   float: left;
   margin-right: 30px;
   padding: 10px 10px;
   box-sizing: border-box;
   padding-left: 40px;
   border-radius: 4px;
   font: 300 17px Roboto;
   color: #494949;
   font-style: italic;
   outline: none;
}

.input-buscar:focus {
   background: #f1f2f7;
}

.cont-carrito {
   background: #ffffff;
   border-radius: 4px;
   position: absolute;
   width: 460px;
   right: 50px;
   box-sizing: border-box;
   float: right;
   box-shadow: 0px 0px 46px 0.00px rgba(0, 0, 0, 0.13);
   z-index: 12;
}

.mostrar-carrito {
   display: block;
}

.ocultar-carrito {
   display: block;
}

.head-cont-carrito {
   text-align: center;
   padding: 15px 0px;
   border-bottom: 1px solid #dcdcdc;
}

.titlo-cont-carrito {
   color: #0099b9;
   font: 500 17px 'Roboto';
   color: #494949;
}

.table-carrito {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   margin: 0px;
   padding: 0px;
   overflow-y: auto;
}

.table-carrito thead th {
   color: #0099b9;
   font: 500 14px 'Roboto';
   padding: 10px 0px;
}

.table-carrito tfoot td {
   color: #0099b9 !important;
   font: 500 14px 'Roboto'!important;
   font-weight: bold;
}

.table-carrito td {
   text-align: center;
   border-width: 0px 0px 1px 1px;
   font-size: 14px;
   font-family: 'Roboto';
   color: #494949;
   padding: 10px;
}

.cuerpo-carrito {
   height: 300px;
   overflow-y: auto;
}

.pie-cont-carrito {
   height: 30px;
   position: relative;
   top: 0px;
}

.box {
   background: rgba(0, 0, 0, 0.8);
   cursor: pointer;
   height: 100%;
   position: fixed;
   z-index: 100;
   display: none;
   width: 100%;
}

.ep-modal {
   background: #fff;
   border-radius: 4px;
   height: 500px;
   top: 100px;
   position: absolute;
   width: 500px;
   z-index: 101;
   top: 50%;
   left: 50%;
   display: none;
   margin-top: -250px;
   margin-left: -250px;
}

.head-modal {
   border-bottom: 1px solid #dcdcdc;
   padding: 10px 40px;
}

.titulo-modal {
   color: #0099b9;
   font: 500 25px Roboto;
}

.fecha-modal {
   color: #a0a1a1;
   font: 400 17px 'Roboto';
}

.body-modal {
   padding: 20px 40px;
}

.label-consignacion {
   text-align: center;
   color: #0099b9;
   font: 500 50px Roboto;
}

.input-consignacion {
   text-align: center;
   color: #0099b9;
   font: 500 50px Roboto;
   width: 90%;
   border: none;
   outline: none;
}

.cont-option {
   display: block;
}

.foot-modal {
   position: relative;
   bottom: -100px;
   padding: 40px;
}

.btn-consignacion {
   border: none;
   border-radius: 4px;
   cursor: pointer;
   outline: none;
   width: 130px;
   padding: 5px 0px;
   color: rgb(255, 255, 255);
   font-weight: 300;
   font-style: normal;
   font-variant: normal;
   font-stretch: normal;
   font-size: 17px;
   line-height: normal;
   font-family: 'Roboto';
   background: rgb(0, 153, 185);
   margin: 20px 20px;
   float: right;
}

.btn-consignacion:hover {
   background: #00607f;
}

.item-menu-home {
   background: #ffffff;
   width: 200px;
   border-bottom: 3px solid #d1d1d1;
   height: 90px;
   float: left;
   margin:0px 73px;
   border-radius: 4px;
   padding: 20px 7px;
   cursor: pointer;
}

.item-menu-home:hover{
      border-bottom: 3px solid #0099b9;
   box-shadow: 0px 1px 13px 0.00px rgba(0, 0, 0, 0.2);
}

.icon-home {
   border-radius: 50%;
   height: 50px;
   width: 50px;
   background-color: #ededed;
   ;
   display: block;
   margin: 0 auto;
}

.icon-home i {
   color: #939fa7;
   font-size: 25px;
   display: block;
   margin: 0 auto;
   text-align: center;
   position: relative;
   top: 10px;
}
.label-home {
   color: #939fa7;
   font: 900 20px 'Roboto';
   display: block;
   text-align: center;
   margin-top: 10px;
}

.seccion-menu-home {
   display: block;
   margin: 20px auto;
   width: 80%;
}
