* {
   margin: 0;
   padding: 0;
   font-family: 'roboto';
}

body {
   overflow-x: hidden;
}

body {
   background-color: #f1f2f7;
}

.barra {
   height: 66px;
   width: 100%;
   box-shadow: 2px 3px 4px 0.00px rgba(0, 0, 0, 0.06);
   background-color: #ffffff;
   position: fixed;
   z-index: 10;
}

.barra-titulo {
   background-color: #0099b9;
   height: 66px;
   width: 260px;
   float: left;
}

.menu-left {
   width: 260px;
   background-color: #242f35;
   float: left;
   top: 66px;
   position: fixed;
   height: 100%;
}

.menu-left> ul> li> a {
   color: #939fa7;
   text-decoration: none;
   cursor: pointer;
   display: block;
   padding: 20px;
}

.menu-left> ul> li> a:hover {
   background-color: #151d22;
}

.menu-left> ul> li> .activo {
   background-color: #151d22;
}

.menu-left> ul> li> a> label {
   color: #939fa7;
}

.menu-left> ul> li> a> i {
   color: #939fa7;
   margin-right: 13px;
}

.menu-left ul li {
   height: 50px;
   display: block;
   list-style: none;
   cursor: pointer;
}

.btn-menu-left {
   background-color: #f3f3f3;
   border-radius: 50%;
   border: 5px solid rgba(255, 255, 255, 0.5);
   cursor: pointer;
   height: 36px;
   width: 36px;
   position: relative;
   margin-top: -35px;
   margin-left: 237px;
}

.btn-menu-left >i {
   color: #242f35;
   text-align: center;
   display: block;
   float: left;
   position: relative;
   top: 8px;
   left: -7px;
}

.cont-barra {
   margin-left: 260px;
   padding-top: 20px;
}

.usuario {
   text-align: center;
   color: #b4b1b1;
   font: 300 20px 'Roboto';
   display: block;
}

.cont-principal {
   background-color: #f1f2f7;
   top: 66px;
   position: relative;
   overflow: hidden;
}

.cont-primario {
   padding: 20px 40px;
   margin-left: 0px;
}

.cabecera-titulo {
   background-color: #ffffff;
   border-radius: 4px;
   border-bottom: 3px solid #e9eaee;
   padding: 10px 20px;
}

.titulo1 {
   color: #0099b9;
   font: 500 20px 'Roboto';
}

.titulo2 {
   color: #0099b9;
   font: 300 20px 'Roboto';
   margin-left: 20px;
}

.cont-surtidores {
   margin-top: 20px;
}

.item-surtidor {
   background-color: #ffffff;
   border-radius: 4px;
   width: 214px;
   padding-top: 5px;
   float: left;
   margin: 46px;
   margin-right: 0;
   margin-top: 0;
   padding-bottom: 35px;
   border-bottom: 3px solid #e9eaee;
}

.limp {
   clear: both;
   line-height: 17;
}

.icon-surti {
   border-radius: 50%;
   height: 40px;
   width: 40px;
   border: 2px solid #e8e7e7;
   float: left;
   position: relative;
   left: -23px;
   top: 10px;
   background-color: #fff;
}

.icon-surti>i {
   font-size: 20px;
   color: #0099b9;
   text-align: center;
   margin-top: 8px;
   display: block;
}

.titulo-surti {
   color: #aaaaaa;
   font: 500 20px 'Roboto';
   padding-bottom: 5px;
   border-bottom: 1px solid #e9e9e9;
   display: block;
}

.cuerpo-surti {
   margin-top: 20px;
}

.titulo-cara {
   float: left;
   background: #f7f7f7;
   padding: 23px 25px;
   color: #c4c4c4;
   font: 500 40px 'Roboto';
   border-radius: 4px;
   cursor: pointer;
   margin-left: 20px;
}

.titulo-cara:hover {
   background: #e8e7e7;
}

.pushmenu {
   /*this is the nav*/
}

.pushmenu-left {
   left: -260px;
}

.pushmenu-left.pushmenu-open {
   left: 0;
}

.pushmenu-left.pushmenu-open {
   left: 0;
}

.pushmenu-push {
   position: relative;
   left: 0;
}

.pushmenu-push-toright {
   left: 240px;
}


/*Transition*/

.pushmenu,
.pushmenu-push {
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.msj-titulo-venta {
   color: #0099b9;
   font: 300 40px 'Roboto';
   text-align: center;
}

.titulo-azul {
   color: #0099b9;
   font: 500 40px Roboto;
}

.contenedor-surtidores {}

.item-especial-surtidor {
   background-color: #fff;
   border-radius: 4px;
   margin-top: 20px;
   margin-bottom: 10px;
}

.etiqueta-surti {
   float: left;
   display: block;
   padding: 4px 20px;
   background-color: #0099b9;
   color: #ffffff;
   font: 500 16px 'Roboto';
   border-top-left-radius: 4px;
}

.cont-etiqueta-cara {
   display: block;
   margin-left: 20px;
   float: left;
   margin-top: 30px;
}

.etiq-cara {
   display: block;
   color: #aeaaaa;
   font: 500 80px 'Roboto';
   float: left;
}

.cont-mangueras {
   float: left;
   display: block;
   margin-left: 30px;
   margin-top: 20px;
}

.item-especial-manguera {
   bottom: 533px;
   background: #ffffff;
   padding: 10px;
   border-radius: 4px;
   border-bottom: 3px solid #f7f7f7;
   margin-bottom: 20px;
   float: left;
   margin-left: 40px;
}

.item-especial-manguera h4 {
   color: #707070;
   font: 500 20px 'Roboto';
}

.item-especial-manguera h4 >i {
   margin-right: 10px;
}

.etiq-tipo-combustible {
   color: #9f9f9f;
   font: 500 20px 'Roboto';
   display: block;
   margin-top: 10px;
}

.etq-contador {
   color: #9f9f9f;
   font: 500 24px 'Roboto';
}
.btn {
   border: 0 none;
   background: #0099b9;
   color: #fff;
   padding: 7px 15px;
   border-radius: 4px;
   color: #fff;
   height: 52px;
   cursor: pointer;
   width: 52px;
   position: fixed;
   font: 300 20px 'Roboto';
   z-index: 50;
   right: 40px;
   bottom: 30px;
   outline: 0;
   box-shadow: 3px 5px 4px 0.00px rgba(0, 0, 0, 0.23);
   border-radius: 50%;
}

.btn:hover{
   background-color: #00607f;
}

.btn-imprimir>i {
   font-size: 23px;
}
